<div class="container">

    <div class="jumbotron text-center">
    <h2> Signup for Free</h2>
</div>
    <form>

        <label for="name">Name</label>
        <input type="Text" id="name" placeholder="Enter Your Name" ng-model="name" class="form-control"/> </br>
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="Enter Email address " ng-model="email" class="form-control"/> </br>
        <label for="comment">Comment</label>
         <input type="text" id="comment" placeholder="Enter Referral Name" ng-model="comment" class="form-control"/>
        </br>
        <input type="submit" value="Submit" ng-click="submit()" class="btn btn-primary">
    </form>
</div>